@import url( "https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

*{
    font-family: 'Rubik', sans-serif;;
    @apply hidden;
}


.link-active{
    color: #EA1C23;
}
.half-circle{
    width: 60px;
    height: 30px;
    background-color: #EA1C23;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px
}

.wood-background{
    background: url(../public/backgrounds/woodBackground1.jfif) no-repeat center/cover;
}
