.landing{
    background: url(../public/plantation.jpg) no-repeat center/cover
}

.ezgif{
    background: url(../public/clients/ezgif.png) no-repeat center/cover;
}
.agriFresh{
    background: url(../public/clients/agriFresh.png) no-repeat center/cover;
}
.myStore{
    background: url(../public/clients/nigelle.png) no-repeat center/cover;
}
.apple{
    background: url(../public/clients/makueni.png) no-repeat center/cover;
}
/**{*/
/*!*    *!*/
/*}*/
